*{
    font-family: sans-serif;    
    
}
@keyframes carga {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
:root{
    --color1:#ADF0D1;
    --color2:#00203F;
    --color3:#1d60a3;
} 
body{
    opacity: 0;
    background-color: var(--color1);
    animation: carga 1s forwards 0.5s;
    
}
.cont{
    background-color: var(--color1);
    margin:10px;
    display: grid;
    grid-template-areas:
    /* "header header header header header header"
    "foto foto foto foto foto foto" */
    "aside aside main main main"
    "aside aside main main main"
    "aside aside main main main"
    "aside aside main main main"
    "aside aside main main main"
    "aside aside main main main"
    "aside aside main main main";
    /* "footer footer footer footer footer footer" ; */
    grid-template-rows: repeat(auto-fill,1fr);
    height: 100vh;
}
.item{
    padding: 10px;
}

.aside{
    grid-area: aside;
    color: var(--color1);
    background-color: var(--color2);
    margin: auto;
    margin-top: 5px;
    max-width: 400px;
    min-width: 280px;
}
.main{
    grid-area: main;
    color: #00203F;
    background-color: var(--color1);
    margin:auto 5px;
    max-width: 700px;
}
h1{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.img{
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 100px;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
img{
    width: 80%;
    margin: auto;
    border-radius: 50%;
    opacity: 0;
    animation: carga 1s forwards 0.68s;
}
h3{
    margin: 15px auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom:1px solid var(--color1);
    border-left: 1px solid var(--color1);
    font-size: 25px;
    padding: 5px;
    display: block;
}
h4{
    font-size: 18px;
    align-items: center;
    margin:5px auto;
    text-align: center;
    justify-content: center;
    opacity: 0;
    animation: carga 1s forwards 0.68s;

}
h5{
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;
    animation: carga 1s forwards 0.68s;
}
p{
    font-size: 10px;
    opacity: 0;
    animation: carga 1s forwards 0.68s;
}
.descripcion{
    font-size: 15px;
    justify-content: left;
    text-align: justify;
    color: var(--color1);
}
a{
    color: var(--color1);
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.redes ul li{
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}
.redes ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.phone-cont{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.phone{
    display: inline-block;
    padding: 0;
    margin: 3px;
}
#phone-icon{
    font-size:20px;
    opacity: 0;
    animation: carga 1s forwards 0.68s;
}
.proyectos{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.address-cont{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 3px; 
}

.address{
    display: inline-block;
    padding: 0;
    margin: 10px 5px;
    margin-bottom: 0px;
}
.address-cont:hover{
    opacity: 0.58;
}
.bd-cont{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 3px; 
}
.age{
    display: inline-block;
    padding: 0;
    margin: 10px 5px;
    margin-bottom: 0px;
    font-size: 16px;
}
.bd{
    font-size: 17px;
}
#bd-icon{
    font-size: 17px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#ad-icon{
    font-size: 20px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#lkdn-icon, #mail-icon{
    font-size: 40px;

}
#lkdn-icon:hover{
    opacity: 0.5;
}
#mail-icon:hover{
    opacity: 0.5;
}


.studies{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 5px;
    margin-top: 0px;
    border-bottom: 2px solid var(--color2);
    border-left: 2px solid var(--color2);
    font-size: 40px;
}
.uni-cont{
    margin: 5px 5px;
    margin-top: 22px;
    bottom: 0px;
    padding: 0px 2px;
    text-align: left;
 
}
.uni{
    margin:5px 5px;
    margin-bottom: 25px;
    padding: 0px 2px;
    text-align: left;
    color: var(--color3);
    font-size: 15px;

}
.work{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--color2);
    border-left: 2px solid var(--color2);
    font-size: 40px;

}
.position{
    margin: 5px 5px;
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 0px 2px;
    text-align: left;
    border-bottom: 1px solid var(--color2);
    font-weight: 780;
    font-size: 20px;
    /* display: inline-block; */
}
.employer{
    margin:5px 15px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 2px;
    text-align: justify;
    font-weight: 550;
    /* display: inline-block; */
    color: var(--color3);
    font-size: 15px;
}

.eng-cont{
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 0px 5px;
    margin: 15px 5px;
    margin-bottom: 0px;
    font-size: 20px;
}
#industrial{
    display: inline-block;
    padding: 0;
    margin: 0px 5px;
    font-size: 15px;
    text-align: left;
    font-size: 20px;

}
.dev-cont{
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 0px 5px;
    margin: 15px 5px;
    margin-bottom: 0px;
    font-size: 20px;
}
#developer{
    display: inline-block;
    padding: 0;
    margin: 0px 5px;
    font-size: 15px;
    text-align: left;
    font-size: 20px;

}




@media screen and (max-width:450px) {
  
    .cont{
        background-color: var(--color1);
        margin:10px;
        display: grid;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
        grid-template-rows: repeat(3,1fr);
        height: 100vh;
    }  
    .aside{
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }
    
    .main{
        grid-column: 1/span 2;
        grid-row: 5/span 8;
    }

    .img{
        flex: 1;
        padding: 10px;
        display: flex;
        min-width: 150px;
        max-width: 250px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    img{
        width: 80%;
        margin: auto;
        border-radius: 50%;
    }

  h1{
    font-size: 30px;
  }
  .skills{
    font-size: 25px;
  }

  .studies, .work{
    font-size: 25px;
  }
  .position{
    font-size: 20px;
  }
  #developer, #industrial{
    font-size: 20px;
  }
  .employer{
    font-size: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }
  #dev-icon,#eng-icon{
    font-size: 12px;
  }

}