/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*{
  padding: 0;
  margin: 0;
  font-family:'Oswald', sans-serif;
  box-sizing: border-box;
}

:root{
  --colorGrisClaro:#eae9e9;
  --colorAzul1:#3777d7;
  --colorAzul2:#2068af;
  --colorAzul3:#013568;
  --colorAzul4:#00203F;
  --colorVerdeClaro:#ADF0D1;
  --colorVerdeOscuro:#6dc49b;
  --colorBordo:#6E0D25;
  --colorNaranja:#fe7167;
  --colorNaranjaClaro:#ff928a;
  --colorNaranjaOscuro:#a42f27;
  --colorHueso:#ECE2d0;
}
html{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
}

body{
  background-color: var(--colorGrisClaro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
h1{
  text-align: center;
  height: 20%;
  margin: 20px auto;
  text-transform: uppercase;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.46);
  font-weight: bold;

}
.cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: var(--colorGrisClaro);
  margin: auto;
}

.card{
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-decoration: none;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* opacity: 0.9; */
}
/* ---------------------------------------------NEW PORTFOLIO */
.card.newportfolio{
  background-color: #0a192f;
}
.card.newportfolio .link-primary {
  color:rgb(249, 119, 184) ;
  text-decoration: none;
}
.card.newportfolio .link-primary:hover, .card.newportfolio .link-primary:focus {
  background-color:rgb(16, 39, 73);  
}

/* ----------------------------------------------- */
/* ---------------------------------------------CV */
.card.cv{
  background-color: var(--colorBordo);
}
.card.cv .link-primary {
  color: var(--colorHueso) ;
  text-decoration: none;
}
.card.cv .link-primary:hover, .card.cv .link-primary:focus {
  background-color:var(--colorNaranjaOscuro);

}

/* ----------------------------------------------- */

/* ---------------------------------------------React */
.card.react{
  background-color: rgb(17, 57, 17);
  color:white ;
}
.card.react .link-primary {
  color: white;
  text-decoration: none;
}
.card.react:hover{
  background-color: rgb(22, 75, 22);
}

/* ----------------------------------------------- */

/* ---------------------------------------------Mix */
.card.mix{
  background-color: var(--colorAzul2);
  color: var(--colorVerdeClaro);
}
.card.mix .link-primary {
  color: var(--colorVerdeClaro);
  text-decoration: none;
}
.card.mix:hover{
  background-color: var(--colorAzul1);
}

/* ----------------------------------------------- */
/* ---------------------------------------------nxt */
.card.nxt{
  background-color: black;
  color: var(--colorAzul1);
}
.card.nxt .link-primary {
  color: var(--colorAzul1);
  text-decoration: none;
}
.card.nxt:hover{
  opacity: 0.9;
}


/* ----------------------------------------------- */
/* ---------------------------------------------psd */
.card.psd{
  background-color: var(--colorNaranja);
  color: var(--colorBordo);
}
.card.psd .link-primary {
  color: var(--colorBordo);
  text-decoration: none;
}
.card.psd:hover{
  background-color: var(--colorNaranjaClaro);
}

/* ----------------------------------------------- */

.card:hover{
  animation: sca forwards 0.8s;
}

.card:not(hover){
  animation: sca2 forwards 0.8s;
}

.card-body {
  height: 100%;
  padding:auto;
  margin: auto;
}
.card-title{
  margin: 10px auto 15px auto;
  font-size: 25px;
  display: inline-block;
}
img{
  width: 20px;
  display: inline-block;
  margin: 10px auto 15px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@keyframes sca {
  from{
    scale: 1;
  }
  to{
    scale: 1.1;
  }
  
}
@keyframes sca2 {
  from{
    scale: 1.1;
  }
  to{
    scale: 1;
  }
}

@media  screen and (max-width:700px) {
  h1{
    text-shadow: none;
  }
}