body{
    font-size: 10px;
    background-color: aqua;
    padding: 10rem 0;
    text-align: center;
}

.wrap-toggle{
    padding: 5rem;
}

.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: #00203F;
    border-radius: 40px;
    cursor: pointer;
}
.switch::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    left: 5px;
    top: 5px;
    transition: all 0.4s;
}

input[type="checkbox"]:checked + .switch::after{
    transform: translate(40px);
    background-color:#00203F ;
}

input[type="checkbox"]:checked + .switch{
    background-color: #013f7d;
}

.offscreen{
    display: none;
}