*{
  padding: 0;
  margin: 0;
  /* font-family: Lato,sans-serif; */
  font-family: monospace, courier;
}

body{
  padding: 20px;
  background-color: #3e3e3e ;
  color: #1b1b32;
}
.cont{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}
.h1-cont{
  display: flex;
  align-items: center;
  justify-content: center;  
  text-align: center;
  box-sizing: border-box;
  height: 100px;
  margin: 20px;
  color: aqua;
}
h1{
  font-size: 45px;
}
.logo{
  width: 80px;
  margin-right:20px;
  margin-left: 0;
}
.card{
  width: 25rem;
  margin: 20px;
  opacity: 0.75;
  border: 2px solid #bebebe;
}
.card:hover{
  opacity: 1;
  transition: all 0.3s;
  border: 3px solid white;

}
.card-body{
  background-color: #bebebe;
  padding: 15px 20px;

}
.card-title{
  font-weight: bold;
}
.card-text{
  text-align: justify;
}
.btn-primary{
  color: aqua;
  background-color: #1b1b32;
  font-weight: bold;
  border-color: #1b1b32;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-active-bg: #0a58ca;
}


@media screen and (max-width:500px){
  h1{
    font-size: 30px;
    margin: 0;
  }
  .logo{
    width: 45px;
    margin:0px;
    margin-right:10px;
  }
  .h1-cont{
    margin: 5px;
    padding: 0px;
    height: 50px;
  }
}





/* 
<div class="card" style="width: 18rem;">
  <img src="testi.png" class="card-img-top" alt="Testimonials">
  <div class="card-body">
    <h5 class="card-title">Testimonials</h5>
    <p class="card-text">Here you will see an example of testimonial cards made with React</p>
    <a href="https://kbcruz6.github.io/react/testimonios" class="btn btn-primary">Go check it!</a>
  </div>
</div>


*/