*{
  padding: 0;
  margin: 0;
  font-family: monospace, courier;
}

body{
  padding: 20px;
  background-color: #3e3e3e ;
  color: #1b1b32;
}
.cont{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}
.title-cont{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 10vmin);
}

.h1-title{
  margin: 0px 10px;
  color: white;
}

.logo {
  height: 8vmin;
  pointer-events: none;
  animation: logo-spin infinite 5s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  width: 25rem;
  margin: 20px;
  opacity: 0.75;
  border: 2px solid #bebebe;
}
.card:hover{
  opacity: 1;
  transition: all 0.3s;
  border: 3px solid white;
}

/* .card-img-top{
  width: 100%;
  height: 100%;
} */

.card-body{
  background-color: #bebebe;
  padding: 15px 20px;

}
.card-title{
  font-weight: bold;
}
.card-text{
  text-align: justify;
}
.btn-primary{
  color: aqua;
  background-color: #1b1b32;
  font-weight: bold;
  border-color: #1b1b32;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-active-bg: #0a58ca;
}
