*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
:root{
    --color1:rgb(65, 79, 107);
    --color2:rgb(176, 180, 190);
    --color3:rgb(77, 77, 77);
    --color4:rgb(99, 118, 157);

    
}

/* ----------------------------------------------------------------------------------- */
.cont{
  display: grid;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: repeat(6,1fr);
  height: 100vh;
}
.pag0{
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  margin: 0px auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  width: 100%;
  background-image: url("try/montaña.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
}

.nav2{
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  position: relative;
  width: 100%;
  height: 80px;
}
.pag1{
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  margin: 0px auto;
  max-width: 1600px;
  min-width: 280px;
  height: 960px;
  width: 100%;
  background-image: url(try/peak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  position: relative;
}


.nav3{
  grid-column: 1/span 2;
  grid-row: 4/span 1;
  background-color:#fff;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  position: relative;
  width: 100%;
}
.tabs {
  background-color:var(--color1);
  grid-column: 1/span 2;
  grid-row: 5/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 40px;
  position: relative;
  width: 100%;
  display: flex;
}
.pag2a{
  grid-column: 1/span 2;
  grid-row: 6/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  width: 100%;
  height: 620px;
  position: relative;
  background-image: url(try/content1.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.pag2b{
  grid-column: 1/span 2;
  grid-row: 6/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  width: 100%;
  height: 620px;
  position: relative;
  background-image: url(try/content2.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer{
  background-color: var(--color1);
  grid-column: 1/span 2;
  grid-row: 7/span 1 ;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 80px;
  width: 100%;
}
/* ---------------------------------------------------------------------------------- */
.pag0,.pag1,.pag2a,.pag2b,.footer{
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.logo-footer:hover,.logo2:hover,.la-mont:hover,.losangeles-mountain:hover{
  opacity: 0.8;
}
.nav1{
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 200;
    top: 0%;
}
.logo1{
  position: relative;
  display: inline-block;
  font-size:43px;
  opacity: 1;
  z-index: 110;
  margin-top: 17px;
  margin-left: 20%;
}
#his-01,#tea-01{
    position: relative;
    list-style-type: none;
    text-decoration: underline;
    display: inline-block;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    color: rgb(254, 254, 255);
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%;
    top:15px;
}
#his-01{
  margin-left: 42%;
  margin-top: 0%;
}
#tea-01{
  margin-left: 5%;
}

.nav1 li a{
  text-decoration: none;
  color: rgb(254, 254, 255);
}
.nav1 li a:visited{
  color: rgb(254, 254, 255);
}
.nav1 li a:hover{
  opacity: 0.8;  
}
.nav2 li a{
  text-decoration: none;
  color: var(--color1);
}
.nav2 li a:visited{
  color: var(--color1);
}
.nav2 li a:hover{
  opacity: 0.8;  
}
.nieve {
    opacity: 0.2;
    position: relative;
    left: 0px;
    top: -40px;
    width:100%;
    height: 100%;
    z-index: 105;
  }

  /* ---------------------------------------------NAV2 */
.logo2{
    position: relative;
    font-size:43px;
    opacity: 1;
    display: inline-block;
    margin-top: 17px;
    margin-left: 20%;
}

.la-mont {
    position: relative;
    display: inline-block;
    font-family:'Bebas',sans-serif;
    color: var(--color3);
    text-transform: uppercase;
    line-height: 1.079;
    text-align: left;
    z-index: 149;
    margin-left: 10px;
    margin-top: 20px;
  }
  
.his-02,.tea-02{
    position: relative;
    list-style-type: none;
    display: inline-block;
    text-decoration: underline;
    font-style: italic;
    color: var(--color1);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.667;
    z-index: 150;
    height: 100%;
    top:13px;
}
.his-02{
  margin-left: 32%;
  margin-top: 0%;
}
.tea-02{
  margin-left: 5%;
}

  /* ---------------------------------------------PAG1 */

.num-01{
    position: relative;
    font-size: 944%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    display: inline-block;
    color: rgba(65, 79, 107, 0.502);
    z-index: 111;
    margin-left: 18%;

}
.history-01{
    position: relative;
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
    font-weight:bolder;
    line-height: 1.2;
    opacity: 1;
    display: inline-block;
    color: var(--color1);
    top: -25px;
    margin-left:-1.8%;
}
  
.text-01{
    position: relative;
    font-size: 16px;
    font-family:'Lato',sans-serif;
    opacity: 1;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    width: 60%;
    margin-left:23.5%;
    margin-top: -2%;
}

/* ------------------------------------------------CAROUSEL */
  .carousel{
    position: absolute;
    max-width: 1600px;
    min-width: 280px;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    bottom: 0;
    background-color: rgb(65, 79, 107,0.7);
  }
  .carousel-inner{
    position: relative;
    height: 135px;
    width: 250px;
  }
  .carousel-item{
    height: 135px;
    width: 250px;
    position: relative;
  }
  .carousel-indicators{
    top: 165px;
  }


  /* ----------------------------------------NAV3 */
  
  .num-02 {
    position: relative;
    display: inline-block;
    font-size: 944%;
    font-family: 'Oswald',sans-serif;
    color: rgba(65, 79, 107, 0.502);
    font-weight: bold;
    line-height: 1.2;
    margin-left: 18%;
    z-index: 139;
  }
  .climb-02 {
    font-size: 190%;
    font-family: 'Oswald',sans-serif;
    color: var(--color1);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 38;
    opacity: 1;
    display: inline-block;
    top: -14%;
    margin-left: -1.8%;
  }
  .text-02 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    display: inline-block;
    z-index: 37;
    left: 1%;
    width: 40%;
    top: -25%;
  }

/* ---------------------------------------TABS */

  .mont1-cont{
    position: relative;
    background-color: var(--color2);
    background-size: 100%;
    padding: 0px;
    z-index: 339;
    margin-left: 15%;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .mountain-1 {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
    color: var(--color1);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
.mont2-cont{
  position: relative;
  background-color: var(--color1);
  background-size: 100%;
  padding: 0px;
  margin: 0;
  z-index: 339;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.mountain-2 {
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  color: var(--color2);
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.mont-2,.mont-1{
  cursor: pointer;
}
.mont-2:hover,.mont-1:hover{
  opacity: 0.8;
}
.colour1{
  color: var(--color2);
}
.colour1c{
  background-color: var(--color1);
}
.colour2{
  color: var(--color1);
}
.colour2c{
  background-color: var(--color2);

}

/* ---------------------------------------------PAG2 */

/* ----------------------------------------TAB1*/
  .sch-cont1,.sch-cont2{
    height:300px;
    width: 320px;
    background-color: rgb(255, 255, 255,0.702);
    padding: 25px;
    padding-bottom: 10px;
    margin-left: 18%;
    margin-top: 10%;
  }
  .schedule-1,.schedule-2 {
    font-size: 35px;
    font-family: 'Oswald',sans-serif;
    color: var(--color1);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 130;
    width: fit-content;
    margin-bottom: 10px;
  }
  .dates-1,.dates-2 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    z-index: 25;
    width: fit-content;
  }

  /* ------------------------------------TAB 2 */
  /* .schedule-2 {
    font-size: 35px;
    font-family: 'Oswald',sans-serif;
    background-color: rgb(255, 255, 255,0.702);
    color: var(--color1);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 130;
    margin-left: 18%;
    margin-top:10%;
    margin-bottom: 0%;
    padding-bottom: 0;
    width: fit-content;
    padding-left: 30px;
    padding-right: 162px;
    padding-top: 30px;
  }

  .dates-2 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    background-color: rgb(255, 255, 255,0.702);
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    z-index: 25;
    padding: 30px;
    padding-top: 5px;
    width: fit-content;
    margin-left: 18%;
    margin-top: 0%;
  } */
  
  /* ---------------------------------------FOOTER */

  .logo-footer {
    position: relative;
    font-size:43px;
    opacity: 1;
    display: inline-block;
    margin-top: 17px;
    margin-left: 18%;
  }
  .losangeles-mountain {
    color: var(--color4);
    position: relative;
    display: inline-block;
    font-family:'Bebas',sans-serif;
    text-transform: uppercase;
    line-height: 1.079;
    z-index: 149;
    margin-left: 23%;
    top: -45px;
    }
  .copy {
    position: relative;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    color: var(--color4);
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.667;
    z-index: 224;
    margin-left: 60%;
    top: -80px;
  }

  .hidden{
    animation:mont1o2 2s forwards;
  }
  .offscreen1,.offscreen2{
    visibility: hidden;
  }

@keyframes mont1o2 {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.off{
  visibility: hidden;
}

/* -------------------------------------------------1280px */

@media screen and (max-width:1280px) {
  .pag1{
    height: 960px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pag2a,.pag2b{
    background-size: cover;
  }
  .pag0{
    background-size: cover;
    height: 760px;
  }

}

/* -------------------------------------------------800px */

@media screen and (max-width:800px) {

  .pag0{
    height: 560px;
  }
  /* NAV 1 */
  .logo1{
    margin-left: 12%;
  }
  /* #his-01,#tea-01{
    top: -55%;
  }
  #his-01{
    margin-left: 27%;
  }
  #tea-01{
    margin-left: 5%;
  } */

  /* NAV2 */
  .logo2{
    margin-left: 12%;
  }
  .la-mont {
   margin-left: 5px;
  }
  .his-02{
    margin-left: 15%;
    margin-top: 0%;
  }
  .tea-02{
    margin-left: 5%;
  }

  /* PAG1 */
  .text-01{
    font-size: 12px;
  }

  /* CARUSEL */
  .carusel-cont{
    flex-wrap: wrap;
    height: 250px;
    padding: 10px auto;
  }
  .carusel-cont li{
    height: 50%;
    width: 150px;
    padding: 0;
  }

   /* PAG2 */
   .text-02{
    font-size: 12px;
    text-align: justify;
    margin: 20px 20px;
    top: 0%;
    left: 10%;
    width: 70%;
  }

  /* FOOTER */
  .logo-footer{
    margin-left: 10%;
  }
  .copy{
    top: -120%;
    width:150px ;
  }
}

/* -------------------------------------------------450px */

@media screen and (max-width:450px) {
  /* NAV 1 */
  .logo1{
    margin-left: 12%;
    margin-top: 10px;
  }
  #his-01,#tea-01{
    top: 20%;
  }
  #his-01{
    margin-left: 20%;
  }

  /* NAV2 */
  .logo2{
    margin-left: 5%;
  }
  /* #his-01,#tea-01{
  } */

  .his-02{
   margin-left: 0px;
  }
  
  /* FOOTER */
  .copy{
    margin-top: 12px;
  }

   /* PAG2 */
   .pag2a{
    height: 450px;
    background-image: none;
    
   }
   .pag2b{
    height: 450px;
    
   }

  .off{
    visibility: visible;
  }
  .on{
    display:none;
  }

  .sch-cont1,.sch-cont2{
    margin: auto;
    margin-top: 20px;
    
  }
  .accordion-button{
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  .accordion-button:active{
    opacity: 0.9;;
  }

  .accordion{
    
    grid-column: 1/span 2;
    grid-row: 6/span 1;
    position:relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(try/content1.png);

    --bs-accordion-color: black;
   --bs-accordion-btn-bg:var(--color4);
   --bs-accordion-btn-color:var(--color2);
   
   --bs-accordion-btn-padding-x:10% ;
   --bs-accordion-btn-padding-y:5%;

   --bs-accordion-active-color: var(--color1);
   --bs-accordion-active-bg: var(--color2);

   --bs-accordion-border-width:0;
   --bs-accordion-body-padding-x:0;
   --bs-accordion-body-padding-y:0;
   /* --bs-accordion-bg:; */


  }
  /* 
  --bs-accordion-color: #{$accordion-color};
  --bs-accordion-bg: #{$accordion-bg};
  --bs-accordion-transition: #{$accordion-transition};
  --bs-accordion-border-color: #{$accordion-border-color};
  --bs-accordion-border-width: #{$accordion-border-width};
  --bs-accordion-border-radius: #{$accordion-border-radius};
  --bs-accordion-inner-border-radius: #{$accordion-inner-border-radius};
  --bs-accordion-btn-padding-x: #{$accordion-button-padding-x};
  --bs-accordion-btn-padding-y: #{$accordion-button-padding-y};
  --bs-accordion-btn-color: #{$accordion-button-color};
  --bs-accordion-btn-bg: #{$accordion-button-bg};
  --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
  --bs-accordion-btn-icon-width: #{$accordion-icon-width};
  --bs-accordion-btn-icon-transform: #{$accordion-icon-transform};
  --bs-accordion-btn-icon-transition: #{$accordion-icon-transition};
  --bs-accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
  --bs-accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
  --bs-accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
  --bs-accordion-body-padding-x: #{$accordion-body-padding-x};
  --bs-accordion-body-padding-y: #{$accordion-body-padding-y};
  --bs-accordion-active-color: #{$accordion-button-active-color};
  --bs-accordion-active-bg: #{$accordion-button-active-bg}; */

}