*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
:root{
    --color1:rgb(65, 79, 107);
    --color2:rgb(176, 180, 190);

}
body{
  display: flex;
  justify-content: center; 
}
.cont{
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pag0,.nav2,.pag1,.pag2,.footer{
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.logo-footer:hover,.logo2:hover,.la-mont:hover,.losangeles-mountain:hover{
  opacity: 0.8;
}

.pag0 {
    background-image: url("try/montaña.png");
    opacity: 1;
    position: relative;
    left: 0px;
    top: 0px;
    /* top: 420px; */
    width: 1600px;
    height: 912px;
    z-index: 103;
    display: block;
    
  }
  
.logo1{
    position: relative;
    font-size:43px;
    left: 343px;
    top: 17px;
    opacity: 1;
    z-index: 110;
}
.nav{
    position: relative;
    left: 0px;
    top: -15px;
    width: 1600px;
    height: 40px;
    z-index: 200;
    margin-right:0px;
}

  
.nav li{
    position: relative;
    list-style-type: none;
    text-decoration: underline;
    display: inline-block;
    margin-right: 50px;
    /* color: #FEFEFF; */
    /* font-size: 20px; */
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    color: rgb(254, 254, 255);
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    left: 1081px;
}
.nav li a{
  text-decoration: none;
  color: rgb(254, 254, 255);
}
.nav li a:visited{
  color: rgb(254, 254, 255);
}
.nav li a:hover{
  opacity: 0.8;  
}
.nav2 li a{
  text-decoration: none;
  color: rgb(65, 79, 107);
}
.nav2 li a:visited{
  color: rgb(65, 79, 107);
}
.nav2 li a:hover{
  opacity: 0.8;  
}
.nieve {
    /* background-image: url("try/nieve.png"); */
    opacity: 0.2;
    position: relative;
    left: 0px;
    top: -90px;
    width: 1600px;
    height: 912px;
    z-index: 105;
  }
  
.nav2{
    position: relative;
    height: 80px;
    width: 1600px;
    background-color: #fff;
    z-index: 110;
    top: 0px;
  
}
.logo2{
    position: relative;
    font-size:43px;
    left: 343px;
    /* top: 841px; */
    opacity: 1;
    display: inline-block;
    top:10px;
}

.la-mont {
    position: relative;
    display: inline-block;
    left: 350px;
    top: 15px;
    font-family:'Bebas',sans-serif;
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    line-height: 1.079;
    text-align: left;
    z-index: 149;
    margin-left: 0;
  }
  
.nav2 li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    text-decoration: underline;
    font-style: italic;
    color: rgb(65, 79, 107);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.667;
    left: 920px;
    margin-right: 50px;
    margin-left: 0px;
    top: 5px;
    z-index: 150;
    
}

  /* ---------------------------------------------PAG1 */
.pag1{
    position: relative;
    display: flex;  
    background-image:url(try/peak.png);
    width: 1600px;
    z-index: 160;
    top: 0px;
    left: 0px;
    display: block;
    height: 975px;
}
.text-cont{
    position: relative;
    display: flex;
    width: 1600px;
    height: 220px;
    left: 0px;
    top: 68px;
    /* border: 2px solid black; */
    padding: 0px;
    margin-right: 0px;
}
.num-01{
    position: relative;
    font-size: 144px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    left: 327px;
    /* margin-top: 68px; */
    top:0px;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
    display: inline-block;
    color: rgba(65, 79, 107, 0.502);
    z-index: 111;
}

.history-01{
    position: relative;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight:bolder;
    line-height: 1.2;
    text-align: left;
    left: 305px;
    top: 115px;
    opacity: 1;
    display: inline-block;
    color: rgb(65, 79, 107);
}
  
.text-01{
    position: relative;
    font-size: 16px;
    font-family:'Lato',sans-serif;
    left:150px;
    top:180px;
    opacity: 1;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    line-height: 1.5;
    text-align: left;
    width: 850px;
    height: 63px;
}
   .carusel-cont {
    background-color: rgb(65, 79, 107,0.7);
    position: relative;
    left: 0px;
    top: 565px;
    width: 1600px;
    height: 190px;
    z-index: 154;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 30;
  }
  .carusel-cont li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    position: relative;
    background-size: cover;
    left: 0;
    top: -5px;
    width: 220px;
    height: 135px;
    z-index: 170;
    margin-right: 10px;
    opacity: 1;
    z-index: 140;
  }
.carusel-1, .carusel-3{
    background-image: url(try/carusel1.jpg);
}
.carusel-2, .carusel-4{
    background-image: url(try/carusel2.jpg);
}

.e-cont{
    position:relative;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 75px;
    left: -483px;
}
   .elipse-1 {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    z-index: 133;
    display: inline-block;
    margin-right: 5px;
  }

  .elipse-2{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    z-index: 133;
    display: inline-block;
    margin-right: 5px;
    opacity: 0.2;
  }
  .elipse-3{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    z-index: 133;
    display: inline-block;
    margin-right: 5px;
    opacity: 0.2;
  }
  /* ---------------------------------------------PAG2 */
  .pag2{
    position: relative;
    /* background-color: transparent; */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* background-position:cover; */
    /* background-origin: top; */
    width: 1600px;
    height: 820px;
    z-index: 150;
}
  .text-cont2 {
    position: relative;
    display: flex;
    left: 0px;
    /* top: 60px; */
    width: 1600px;
    height: 180px;
    z-index: 140;
    background-color:#fff;
  }
  .num-02 {
    position: relative;
    font-size: 140px;
    font-family: 'Oswald',sans-serif;
    color: rgba(65, 79, 107, 0.502);
    font-weight: bold;
    line-height: 1.2;
    left: 350px;
    top: 0px;
    z-index: 139;
    width: 200px;
  }
  .climb-02 {
    font-size:30px;
    font-family: 'Oswald',sans-serif;
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left:295px;
    top:90px;
    z-index: 38;
    width: 300px;
  }
  .text-02 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    left:90px;
    top:65px;
    width: 600px;
    height: 39px;
    z-index: 37;
  }

/* --------------------------------tabs */
  .tabs {
    position: relative;
    background-color: rgb(65, 79, 107);

    display: flex;
    left: 0px;
    top:0px;
    width: 1600px;
    height: 40px;
    z-index: 335;
  }
  .mountain-1 {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
    color: var(--color1);
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left: 345px;
    top:6px;
    z-index: 339;
    width: 300px;
  }
  .mountain-1b {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
    color: var(--color2);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left: 0px;
    top:6px;
    z-index: 339;
  }
.mont-2,.mont-1b{
    cursor: pointer;
  }
.mont-2:hover,.mont-1b:hover{
    opacity: 0.8;
}
  .mountain-2 {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
    color: var(--color2);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left: 50px;
    top: 7px;
    z-index: 343;
  }
  .mountain-2b {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
    text-decoration: underline;
    color: var(--color1);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left: -60px;
    top: 6px;
    z-index: 333;
  }
  .rect-m1 {
    background-color: var(--color2);
    position: relative;
    left: -295px;
    top: 0px;
    width: 140px;
    height: 40px;
    z-index: 335;
  }
  .rect-m2 {
    background-color: var(--color2);
    position: relative;
    left:-320px;
    top:0px;
    width: 140px;
    height: 40px;
    z-index: 332;
  }
  /* .rect-2 {
    background-color: rgb(65, 79, 107);
    position: relative;
    left:0px;
    top: -130px;
    width: 1600px;
    height: 40px;
    z-index: 331;
  } */

/* ----------------------------------------TABS CONT */
  .tabs-cont {
    position: relative;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 500px;
    z-index: 129;
  }
  .tab-1 {
    position: relative;
    left: 0px;
    top: -290px;
    width: 1600px;
    height: 1000px;
    z-index: 128;
    background-image: url(try/content1.png);
    background-repeat: no-repeat;
  }
  .content-1 {
    position: relative;
    display: flex;
    left: 0px;
    top: 230px;
    width: 1600px;
    /* height: 20px; */
    z-index: 27;
  }
  .schedule-1 {
    font-size: 35px;
    font-family: 'Oswald',sans-serif;
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left: 370px;
    top:180px;
    z-index: 130;
    width: 300px;
  }
  .dates-1 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    left: 70px;
    top:230px;
    width: 270px;
    height: 132px;
    z-index: 25;
  }
  .rect-3 {
    background-color: rgb(255, 255, 255);
    opacity: 0.702;
    position: relative;
    left: -240px;
    top: 150px;
    width: 352px;
    height: 240px;
    z-index: 24;
  }


  /* ------------------------------------TAB 2 */
  .tab-2 {
    position: relative;
    left: 0px;
    width: 1600px;
    height: 800px;
    z-index: 9;
    top: -1160px;
  }
  .content-2 {
    position: relative;
    display: flex;
    left: 0px;
    width: 1600px;
    height: 780px;
    z-index: 7;
    background-image: url(try/content2.png);
    background-repeat: no-repeat;
  }
  .schedule-2 {
    font-size: 35px;
    font-family: 'Oswald',sans-serif;
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    left: 370px;
    top:280px;
    height: 100px;
    z-index: 5;
  }
  .dates-2 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    left: 235px;
    top: 330px;
    width: 270px;
    height: 132px;
    z-index: 3;
  }
  .rect-4 {
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    position: relative;
    left:-75px;
    top: 250px;
    width: 352px;
    height: 240px;
    z-index: 1;
  }
  
  /* ---------------------------------------FOOTER */
  .footer {
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(65, 79, 107);
    left: 0px;
    top: 20px;
    height: 90px;
    width: 1600px;
    z-index: 222;
    padding: 0px;
    margin: 0px;
  }
  .logo-footer {
    position: relative;
    /* left: -200px; */
    /* top: 340px; */
    z-index: 299;
    font-size: 43px;
    margin-right: 10px;
  }
  .losangeles-mountain {
    font-size: 13.29px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(99, 118, 157);
    text-transform: uppercase;
    line-height: 1.079;
    text-align: left;
    position: relative;
    /* left:-190px; */
    z-index: 226;
    margin-right: 500px;

  }
  .copy {
    position: relative;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    color: rgb(99, 118, 157);
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.667;
    /* left: 350px; */
    z-index: 224;
    width: 300px;
    margin-right: 0px;
  }
  /* .rect-5 {
    position: relative;
    background-color: rgb(65, 79, 107);
    left: 0px;
    top: 20px;
    width: 1600px;
    height: 88px;
    z-index: 223;
  } */
  .hidden{
    visibility: hidden;
  }
  .offscreen1b,.offscreen2{
    visibility: hidden;
  }

  @media screen and (max-width:450px){
  
  body{
    display: flex; 
    justify-content: center; 


  }
  .cont{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    margin: 0;
    padding: 0;
    

  }
  
  /* .pag0,.nav2,.pag1,.pag2,.footer{
    justify-content: center; 
    align-items: center;
    flex-grow: 1;
    display: flex;

  } */

  .logo-footer{
    margin-left: 10px;
  }
  .losangeles-mountain{
    margin-right: 0;
  }
  .copy{
    text-align: right;
    margin-right: 20px;
    margin-left: 120px;
  }
}
