*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
:root{
    --color1:rgb(65, 79, 107);
    --color2:rgb(176, 180, 190);

}
/* body{
  display: flex;
  justify-content: center; 
} */

@media screen and (max-width:450px) {
  
  .cont{
    margin:10px;
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
  }  
  .pag0{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    padding: 20px;
  }
    
  .nav2{
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    margin-top: 25px;
    padding: 10px;
  }
  .pag1{
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    padding: 20px;
  }
  
  .pag2a{
    grid-column: 1/span 2;
    grid-row: 4/span 1;
    margin-top: 25px;
    padding: 10px;
  }
  .pag2b{
    grid-column: 1/span 2;
    grid-row: 4/span 1;
    margin-top: 25px;
    padding: 10px;
  }
  .footer{
    grid-column: 1/span 2;
    grid-row: 5/span 1 ;
    padding: 20px;
  }
}
/* ----------------------------------------------------------------------------------- */
.cont{
  display: grid;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: repeat(6,1fr);
  height: 100vh;
}
.pag0{
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  margin: 0px auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  width: 100%;
  background-image: url("try/montaña.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
}

.nav2{
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  position: relative;
  width: 100%;
  height: 80px;
}
.pag1{
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  margin: 0px auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  width: 100%;
  background-image: url(try/peak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
}

.nav3{
  grid-column: 1/span 2;
  grid-row: 4/span 1;
  background-color:#fff;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 100%;
  position: relative;
  width: 100%;
}
.tabs {
  background-color: rgb(65, 79, 107);
  grid-column: 1/span 2;
  grid-row: 5/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 40px;
  position: relative;
  width: 100%;
  display: flex;
}
.pag2a{
  grid-column: 1/span 2;
  grid-row: 6/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  width: 100%;
  height: 620px;
  position: relative;
  background-image: url(try/content1.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.pag2b{
  grid-column: 1/span 2;
  grid-row: 6/span 1;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  width: 100%;
  height: 620px;
  position: relative;
  background-image: url(try/content2.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer{
  background-color: var(--color1);
  grid-column: 1/span 2;
  grid-row: 7/span 1 ;
  margin: auto;
  max-width: 1600px;
  min-width: 280px;
  height: 80px;
  width: 100%;
}
/* ---------------------------------------------------------------------------------- */
.pag0,.pag1,.pag2a,.pag2b,.footer{
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.logo-footer:hover,.logo2:hover,.la-mont:hover,.losangeles-mountain:hover{
  opacity: 0.8;
}
.nav1{
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 200;
    top: 0%;
}
.logo1{
  position: relative;
  display: inline-block;
  font-size:43px;
  opacity: 1;
  z-index: 110;
  margin-top: 17px;
  margin-left: 20%;
}
#his-01,#tea-01{
    position: relative;
    list-style-type: none;
    text-decoration: underline;
    display: inline-block;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    color: rgb(254, 254, 255);
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%;
    top:-15px;
}
#his-01{
  margin-left: 42%;
  margin-top: 0%;
}
#tea-01{
  margin-left: 5%;

}
.nav li{
  /* margin-right: 10px; */
  display: inline-block;
}
.nav1 li a{
  text-decoration: none;
  color: rgb(254, 254, 255);
}
.nav1 li a:visited{
  color: rgb(254, 254, 255);
}
.nav1 li a:hover{
  opacity: 0.8;  
}
.nav2 li a{
  text-decoration: none;
  color: rgb(65, 79, 107);
}
.nav2 li a:visited{
  color: rgb(65, 79, 107);
}
.nav2 li a:hover{
  opacity: 0.8;  
}
.nieve {
    opacity: 0.2;
    position: relative;
    left: 0px;
    top: -40px;
    width:100%;
    height: 100%;
    z-index: 105;
  }

.logo2{
    position: relative;
    font-size:43px;
    opacity: 1;
    display: inline-block;
    margin-top: 17px;
    margin-left: 20%;
}

.la-mont {
    position: relative;
    display: inline-block;
    font-family:'Bebas',sans-serif;
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    line-height: 1.079;
    text-align: left;
    z-index: 149;
    margin-left: 10px;
  }
  
.his-02,.tea-02{
    position: relative;
    list-style-type: none;
    display: inline-block;
    text-decoration: underline;
    font-style: italic;
    color: rgb(65, 79, 107);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.667;
    z-index: 150;
    height: 100%;
    top:-10px;
}
.his-02{
  margin-left: 32%;
  margin-top: 0%;
}
.tea-02{
  margin-left: 5%;
}

  /* ---------------------------------------------PAG1 */

.num-01{
    position: relative;
    font-size: 944%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    display: inline-block;
    color: rgba(65, 79, 107, 0.502);
    z-index: 111;
    margin-left: 18%;

}
.history-01{
    position: relative;
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
    font-weight:bolder;
    line-height: 1.2;
    opacity: 1;
    display: inline-block;
    color: rgb(65, 79, 107);
    top: -25px;
    margin-left:-1.8%;
}
  
.text-01{
    position: relative;
    font-size: 16px;
    font-family:'Lato',sans-serif;
    opacity: 1;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    width: 60%;
    margin-left:23.5%;
    margin-top: -2%;

}
   .carusel-cont {
    position: relative;
    background-color: rgb(65, 79, 107,0.7);
    max-width: 1600px;
    min-width: 280px;
    z-index: 154;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 32.5%;
    width: 100%;
    padding: 0.5% 15%;
  }
  .carusel-cont li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    position: relative;
    height:205px;
    z-index: 170;
    opacity: 1;
    z-index: 140;
    margin: 1%;
  }
.carusel-1, .carusel-3{
    background-image: url(try/carusel1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    /* height: 100%; */
    width: 90%;
}
.carusel-2, .carusel-4{
    background-image: url(try/carusel2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    /* height: 100%; */
    width: 90%;
  }
  /* .carusel-1{
    left: 15%;
   } */
.e-cont{
    position:relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 14%;
    margin-bottom: 0%;
    left: -50%;
  }
   .elipse-1 {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    z-index: 133;
    display: inline-block;
  }

  .elipse-2,.elipse-3{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    z-index: 133;
    display: inline-block;
    opacity: 0.2;
    margin-left: 20%;
  }

  /* ----------------------------------------NAV3 */
  
  .num-02 {
    position: relative;
    display: inline-block;
    font-size: 944%;
    font-family: 'Oswald',sans-serif;
    color: rgba(65, 79, 107, 0.502);
    font-weight: bold;
    line-height: 1.2;
    margin-left: 18%;
    z-index: 139;
  }
  .climb-02 {
    font-size: 190%;
    font-family: 'Oswald',sans-serif;
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 38;
    opacity: 1;
    display: inline-block;
    top: -14%;
    margin-left: -1.8%;
  }
  .text-02 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    display: inline-block;
    z-index: 37;
    left: 1%;
    width: 40%;
    top: -25%;
  }

/* ---------------------------------------TABS */

  .mont1-cont{
    position: relative;
    background-color: var(--color2);
    background-size: 100%;
    padding: 5px;
    z-index: 339;
    margin-left: 17%;
    top: 0%;
    height: 100%;
    width: 130px;
  }
  .mountain-1 {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
    color: var(--color1);
    font-weight: bold;
    line-height: 1.2;
  }
.mont2-cont{
  position: relative;
  background-color: var(--color1);
  background-size: 100%;
  padding: 5px;
  z-index: 339;
  margin-left:0%;
  top: 0%;
  height: 100%;
  width: 130px;
}
.mountain-2 {
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  color: var(--color2);
  font-weight: bold;
  line-height: 1.2;
}
.mont-2,.mont-1{
  cursor: pointer;
}
.mont-2:hover,.mont-1:hover{
  opacity: 0.8;
}
.colour1{
  color: var(--color2);
}
.colour1c{
  background-color: var(--color1);
}
.colour2{
  color: var(--color1);
}
.colour2c{
  background-color: var(--color2);

}

/* ---------------------------------------------PAG2 */

/* ----------------------------------------TAB1*/

  .schedule-1 {
    font-size: 35px;
    font-family: 'Oswald',sans-serif;
    background-color: rgb(255, 255, 255,0.702);
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 130;
    margin-left: 18%;
    margin-top:10%;
    margin-bottom: 0%;
    padding-bottom: 0;
    width: fit-content;
    padding-left: 30px;
    padding-right: 162px;
    padding-top: 30px;
  }

  .dates-1 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    background-color: rgb(255, 255, 255,0.702);
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    z-index: 25;
    padding: 30px;
    padding-top: 5px;
    width: fit-content;
    margin-left: 18%;
    margin-top: 0%;
  }

  /* ------------------------------------TAB 2 */
  .schedule-2 {
    font-size: 35px;
    font-family: 'Oswald',sans-serif;
    background-color: rgb(255, 255, 255,0.702);
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 130;
    margin-left: 18%;
    margin-top:10%;
    margin-bottom: 0%;
    padding-bottom: 0;
    width: fit-content;
    padding-left: 30px;
    padding-right: 162px;
    padding-top: 30px;
  }

  .dates-2 {
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    background-color: rgb(255, 255, 255,0.702);
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    z-index: 25;
    padding: 30px;
    padding-top: 5px;
    width: fit-content;
    margin-left: 18%;
    margin-top: 0%;
  }
  
  /* ---------------------------------------FOOTER */

  .logo-footer {
    position: relative;
    font-size:43px;
    opacity: 1;
    display: inline-block;
    margin-top: 17px;
    margin-left: 20%;
  }
  .losangeles-mountain {
    color: rgb(99, 118, 157);
    position: relative;
    display: inline-block;
    font-family:'Bebas',sans-serif;
    text-transform: uppercase;
    line-height: 1.079;
    z-index: 149;
    margin-left: 24%;
    top: -60%;
    }
  .copy {
    position: relative;
    font-size: 12px;
    font-family: 'Lato',sans-serif;
    color: rgb(99, 118, 157);
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.667;
    z-index: 224;
    margin-left: 60%;
    top: -80px;
  }

  .hidden{
    visibility: hidden;
  }
  .offscreen1,.offscreen2{
    visibility: hidden;
  }
  .resp{
    opacity: 0;
  }


